@charset "utf-8";
/* CSS Document */

h1 {
	font-family:"MS Serif", "New York", serif;
	border-bottom:ridge;
	border-left:ridge;
	border-top:ridge;
	border-right:ridge;
	
}

h2 {
	font-family:"MS Serif", "New York", "serif";
	
}

p{ 
	color:#06F;
}

h2 img{
	height:100px;
	width:109px;
	border:none;
}
h2 ul{
	font-family:"MS Serif", "New York", "serif";
}
body{
	background-repeat:no-repeat;
	background-size:cover;
	
}
	