@charset "utf-8";
/* CSS Document */
.clearfix:after {
	display:block;
	clear:both;
	width:100%;
}
.menu-wrap{
	width:100%;
}
.menu {
	text-align:center;
}
.menu li {
	list-style:none;
	transition:all linear 0.15s;
}
.menu a {
	transition: all linear 0.15s;
	color:#6F9;
	text-decoration:none;
}                       
	/*Top Level*/
	.menu > ul{
		display:table;
		padding:0;
		margin:0;
		text-align:center;
	}
	
	.menu > ul > li {
		position:relative;
		display:table-cell;
		margin:0px;
		padding:0;
		text-align:center;
		vertical-align:bottom;
	}
	.menu > ul > li:hover, .menu > ul > .current-item > a {
	}
	/* BOTTOM LEVEL */
	.menu li:hover .sub-menu {
		z-index:1;
		opacity:1;
	}
	.sub-menu{
		width:100%;
		padding: 0px;
		position:absolute;
		top:0%;
		left:100%;
		z-index:-1;
		opacity:0;
		transition:opacity linear 0.15s;
		background:#0CF;
		text-align:center;
		border-top:solid #CFF thick;
	}
	.sub-menu li{ 
	display:table;
	text-align:center;
	width:80%;
	border-top:solid #939 thin;	margin:auto;

	}
	.sub-menu li a {
		display:table-cell;
		height:40px;
		vertical-align:middle;
		width:100%;
		text-align:center;
	}
	.sub-menu li:hover, . sub-menu . current-item a {
		background-color:#0FF;
	}
	
	/*third tier*/
.sub-menu li:hover .3tier {
		z-index:1;
		opacity:1;
}
	.3tier{
		width:100%;
		padding: 0px;
		position:relative;
		top:100%;
		left:0px;
		z-index:-1;
		opacity:0;
		transition:opacity linear 0.15s;
		background:#0CF;
		text-align:center;
		border-top:solid #CFF thick;
	}
	.3tier li{
		display:inline;
	text-align:center;
	width:80%;
	border-top:solid #939 thin;
	margin:auto;
	}
	.3tier a{
		display:table-cell;
		height:40px;
		vertical-align:middle;
		width:100%;
		text-align:center;
	}
	

#sub-menu-R{
	position:absolute;
		top:0%;
		left:200%;
}
	